*~
*.tmp
/.tidyall.d/
/Av_CharPtrPtr.o
/Devel.c
/Devel.o
/LibXML.bs
/LibXML.c
/LibXML.o
/MYMETA.json
/MYMETA.yml
/Makefile
/Makefile.old
/XML-LibXML-*
/blib
/dom.o
/perl-libxml-mm.o
/perl-libxml-sax.o
/pm_to_blib
/xpath.o
/MANIFEST.bak
/cover_db/
